<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Landing Page</title>

	<!-- StyleSheet -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/styles.css">

	<!-- ImportantScripts -->	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- ApplicationScripts -->
    <script src="js/app.js"></script>

</head>
<body>
	<div class="btn-group" role="group" aria-label="...">
	  <button type="button" class="btn btn-default indexButtons" id ="joshuaTree">Joshua Tree</button>
	  <button type="button" class="btn btn-default indexButtons" id ="haleakala">Haleakala</button>
	  <button type="button" class="btn btn-default indexButtons" id ="grandCanyon">The Grand Canyon</button>
	</div>
</body>
</html>