<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Park Page</title>

	<!-- StyleSheet -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/styles.css">

	<!-- ImportantScripts -->	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
 
    <!-- ApplicationScripts -->
    <script src="js/app.js"></script>

</head>
<body>
	<h1>This is your park page</h1>
	<div class="row">
	  <div class="col-lg-12" id="bannerBox">this is where your park banner will go</div>
	  <br>
	  <br>
	  <div class="col-lg-12" id="mapBox">this is where your map will go
		<div id="map"></div>
	  </div>
	  <br>
	  <br>
	  <div class="col-lg-12" id="descriptionBox">this is where your park description goes</div>
	  <div class="col-lg-12 id="mediaBox">eventually media will go here</div>
	  <div class="col-lg-12 id="trailBox">eventually add a trail goes here</div>
	</div>
	
</body>
</html>