#map {
	width: 600px;
	height: 400px;
}
body {
	padding: 40px;
}
#colOne {
	/*background: url('../images/joshuaTreeSplash.jpg') no-repeat;
	/*background-size: 100%;*/
/*	background-size: 300%;
	background-position: right 10px;
	height: 100vh;*/
	background-color: #F5FB99  ;
	/*background-size: 400%;*/
	height: 100vh;
    margin:0;
}

#colTwo {
	/*background: url('../images/haleakalaSplash.png') no-repeat;*/
	background-color: #FAE5D3;
	/*background-size: 400%;*/
	height: 100vh;
    margin:0;
   /* padding:40px;*/
}
#colThree {
	/*background: url('../images/grandCanyonSplash.jpg') no-repeat;*/
	background-color: #EAFAF1;
/*	background-size: 300%;*/
	height: 100vh;
    margin:0;
 /*   padding:40px;*/
}
#descriptionBox {
	padding: 20px;
}
#trailBox {
	background-color: #FAE5D3;
	width: 600px;
	padding: 20px;
}
